/********************************

    FONTS

*********************************/

@font-face {
    font-family: 'Nexa Bold';
    src: url('./assets/fonts/nexa_bold.otf');
}

@font-face {
    font-family: 'Nexa Light';
    src: url('./assets/fonts/nexa_light.otf');
}

/********************************

    CSS RESET

*********************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************

    LAYOUT

*********************************/

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    animation: fadeIn 1.5s ease-in;
}

#separator {
  height: 1px;
  width: 55%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  border-radius: 2px;
}

.hidden {
  display: none;
}

/********************************

    BACKGROUND

*********************************/

#background {
    z-index: -200;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

#gradient {
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(to top, rgba(0, 198, 251, 1), rgba(0, 91, 234, 0.15));
}

/********************************

    CONTENT

*********************************/

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  height: 500px;
}

h1 {
  font: 8em 'Nexa Bold';
  color: white;
  margin: auto;
  display: block;
}

p, input, button {
  font: 30px "Nexa Light", sans-serif;
}

/********************************

    LISTEN STYLING

*********************************/

#listenSection {
  border: solid 2px rgba(255, 255, 255, 0.75);
  padding: 1.2em 0.8em 1em 1.5em;
  margin: 3em auto;
  border-radius: 5px;
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 40, 255, 0.15);

  transition: background-color 0.3s ease-out;
}

#listenSection:hover {
    background-color: white;
    cursor: pointer;

    transition: background-color 0.15s ease-out;
}

#listening {
  font-size: 0.85em;
  letter-spacing: 1.2em;
  font-family: 'Nexa Bold';
}

.on #listening:after {
    content: ' \25CF  LISTENING';
    animation: blink 2s infinite;
    color: white;
}

.on:hover #listening:after{
    font-family: 'Nexa Bold', sans-serif;
    /*content: '\23F8 PAUSE';*/
    content: 'PAUSE';
    animation: none;
    color: #007bef;
}

.off #listening {
    color: #fff;
}

.off:hover #listening {
    color: #007bef;
}

/********************************

    SEND BUTTON STYLING

*********************************/

#sendButton {
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;


  font-size: 0.9em;
  color: #0097f4;
  letter-spacing: 1.2em;
  font-family: 'Nexa Bold';
  text-transform: uppercase;
  cursor: pointer;
}

#sendSection {
    border: double 3px rgba(255, 255, 255, 0);
    padding: 1.2em 0.5em 1em 1.6em;
    margin: 3em auto;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#sendSection:hover {
    border: double 3px rgba(255, 255, 255, 0.5);
}

/********************************

    SEND INPUT STYLING

*********************************/

#urlInput {
    border-width: 0;
    outline-width: 0;
}

#sendSection {
  display: flex;
  flex-direction: row;
}

#sendSection .material-icons {
  font-size: 2.5em;
  color: #0097f4;
}

/********************************

    ANIMATIONS

*********************************/

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.45; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/********************************

    SELECTION STYLING

*********************************/

* {
       -moz-user-select: none;
        -ms-user-select: none;
    -webkit-user-select: none;
  -webkit-touch-callout: none;
}
